<!-- Config file for the game -->

<config>
  <app>
    <title>2D Platform Game</title>
    <organization>UPC</organization>
    <framerate_cap frame_rate ="30"/>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>
  
  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <window_name>Jungle Jumping</window_name>
  </window>
  <entities>
    <animations>
      <idleanimation speed="0.2" loop="true">
        <anim x="14" y="7" w="19" h="29"/>
        <anim x="66" y="6" w="17" h="30"/>
        <anim x="115" y="6" w="19" h="30"/>
        <anim x="163" y="7" w="20" h="29"/>
      </idleanimation>
      <runanimation speed="0.35" loop="true">
        <anim x="67" y="45" w="20" h="28"/>
        <anim x="116" y="46" w="20" h="27"/>
        <anim x="166" y="48" w="20" h="25"/>
        <anim x="217" y="45" w="23" h="28"/>
        <anim x="266" y="46" w="20" h="27"/>
        <anim x="316" y="48" w="20" h="25"/>
      </runanimation>
      <attackanimation speed="0.2" loop="false">
        <anim x="7" y="263" w="27" h="22"/>
        <anim x="58" y="238" w="25" h="20"/>
        <anim x="115" y="222" w="33" h="36"/>
        <anim x="165" y="222" w="27" h="36"/>
        <anim x="215" y="226" w="19" h="32"/>
        <anim x="265" y="232" w="18" h="26"/>
        <anim x="315" y="231" w="18" h="27"/>
        <anim x="13" y="268" w="20" h="27"/>
        <anim x="60" y="266" w="38" h="29"/>
        <anim x="102" y="274" w="32" h="21"/>
        <anim x="152" y="273" w="31" h="22"/>
        <anim x="219" y="269" w="20" h="26"/>
        <anim x="270" y="269" w="20" h="26"/>
        <anim x="302" y="272" w="48" h="23"/>
        <anim x="3" y="313" w="31" h="19"/>
        <anim x="50" y="312" w="34" h="20"/>
        <anim x="100" y="312" w="34" h="20"/>
      </attackanimation>
      <jumpanimation speed="0.2" loop="false">
        <anim x="317" y="340" w="23" h="29"/>
        <anim x="18" y="377" w="22" h="29"/>
        <anim x="68" y="377" w="22" h="29"/>
      </jumpanimation>
      <grabanimation speed="0.2" loop="true">
        <anim x="72" y="151" w="12" h="34"/>
        <anim x="122" y="151" w="13" h="34"/>
        <anim x="170" y="151" w="15" h="34"/>
        <anim x="221" y="151" w="14" h="24"/>      
      </grabanimation>
      <climbanimation speed="0.2" loop="false">
        <anim x="271" y="154" w="16" h="29"/>
        <anim x="321" y="155" w="15" h="26"/>
        <anim x="20" y="193" w="15" h="24"/>
        <anim x="71" y="191" w="14" h="24"/>
        <anim x="121" y="191" w="15" h="24"/>
      </climbanimation>
      <idlesword speed="0.2" loop="true">
        <anim x="160" y="194" w="23" h="27"/>
        <anim x="210" y="194" w="23" h="27"/>
        <anim x="259" y="193" w="25" h="28"/>
        <anim x="309" y="193" w="25" h="28"/>
      </idlesword>
      <hurtanimation speed="0.2" loop="false">
        <anim x="210" y="194" w="23" h="27"/>
        <anim x="259" y="193" w="25" h="28"/>
        <anim x="309" y="193" w="25" h="28"/>
      </hurtanimation>
      <dieanimation speed="0.2" loop="false">
        <anim x="316" y="308" w="21" h="24"/>
        <anim x="17" y="345" w="18" h="24"/>
        <anim x="65" y="345" w="18" h="24"/>
        <anim x="116" y="347" w="20" h="22"/>
        <anim x="168" y="351" w="17" h="18"/>
        <anim x="221" y="352" w="14" h="17"/>
        <anim x="269" y="351" w="17" h="18"/>
      </dieanimation>
      <slideanimation speed="0.2" loop="false">
        <anim x="155" y="132" w="34" h="15"/>
        <anim x="205" y="132" w="34" h="15"/>
        <anim x="255" y="131" w="34" h="16"/>
        <anim x="309" y="130" w="30" h="17"/>
        <anim x="14" y="167" w="23" h="17"/>
      </slideanimation>
      <crouchanimation speed="0.2" loop="false">
        <anim x="216" y="15" w="19" h="21"/>
        <anim x="265" y="14" w="20" h="22"/>
        <anim x="315" y="15" w="19" h="21"/>
        <anim x="17" y="54" w="17" h="21"/>
      </crouchanimation>
      <fallanimation speed="0.2" loop="false">
        <anim x="68" y="112" w="17" h="31"/>
        <anim x="118" y="113" w="17" h="30"/>
      </fallanimation>
      <doublejanimation speed="0.4" loop="false">
        <anim x="15" y="86" w="20" h="24"/>
        <anim x="65" y="88" w="20" h="24"/>
        <anim x="117" y="81" w="19" h="27"/>
        <anim x="164" y="79" w="21" h="23"/>
        <anim x="218" y="82" w="15" h="20"/>
        <anim x="264" y="84" w="23" h="17"/>
        <anim x="320" y="84" w="18" h="20"/>
        <anim x="14" y="124" w="23" h="17"/>
      </doublejanimation>
    </animations>
    <initial_attributes velx="0.f" vely="0.f" accx="0.f" gravity="300.f" runspeed="120" flyspeed="110" jumpspeed="180" godspeed="5"/>
  </entities> 
  <audio>
    <music path1="audio/music/FirstMap.ogg" path2="audio/music/SecondMap.ogg"/>
    <fx jump="audio/fx/jump.wav" />
  </audio>
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>